*~
*.pyc
*.pyo
.settings
.project
.pydevproject
*.egg-info
*.sublime-*
*.idea/
tests/Backends/config.py

# QA files:
.coverage
coverage.xml
nosetests.xml
pylint.txt
pep8.txt
build/
data/version
debian/files
debian/python-opsi.debhelper.log
debian/python-opsi.postinst.debhelper
debian/python-opsi.prerm.debhelper
debian/python-opsi.substvars
debian/python-opsi/
locale/
