[BASIC]
argument-rgx=[a-z_][a-zA-Z0-9_]{2,30}$                                               # no default
attr-rgx=[_]{0,2}[a-z][a-zA-Z_]{2,30}$                                               # no default
function-rgx=[_]{0,2}[a-z][a-zA-Z0-9_]{2,}$                                          # no default
method-rgx=(([_]{0,2}[a-z][a-zA-Z0-9]{2,})|([a-zA-Z_]{2,}_[a-zA-Z]{2,})|(__.*__))$   # no default
module-rgx=[_a-zA-Z]+                                                                # no default
no-docstring-rgx=.*                                                                  # default=^_
variable-rgx=[_]{0,2}[a-zA-Z0-9_]{2,30}$                                             # no default

[FORMAT]
indent-string='\t'    # default='    '
max-line-length=140   # default=100
