twisted[conch,tls]<18.4
filemagic
git+https://github.com/twisted/ldaptor.git
pyCrypto  # formerly brought in as an ldaptor dependency
# pam3  # Altnerative: use python3-pam
pyOpenSSL
mysqlclient
SQLAlchemy
pyasn1
