[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: javavm-sequ
name: javavm-sequ
description: test product sequence
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: unsetup.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: firefox-sequ
requiredStatus: installed
requirementType: before

[Changelog]
javavm-sequ (1.0-1) testing; urgency=low

  * Initial package

 -- rupet roeder <r.roeder@uib.de>  Tue, 31 May 2016 17:00:57 +0000


