[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: sysessential-sequ
name: sysessential-sequ
description: test product sequence
advice: 
version: 1.0
priority: 55
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: unsetup.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: ultravnc-sequ
requiredStatus: installed
requirementType: before

[Changelog]
sysessential-sequ (1.0-1) testing; urgency=low

  * Initial package

 -- rupert roeder <r.roeder@uib.de>  Tue, 31 May 2016 17:06:34 +0000


