DOCKER_IMAGE_OPSI_SERVER=uibmz/opsi-server:4.3
DOMAINNAME=domain.tld

RESTART_POLICY=unless-stopped
TZ=Europe/Berlin

MYSQL_HOST=mysql
MYSQL_DATABASE=opsi
MYSQL_USER=opsi
MYSQL_PASSWORD=eeC9ku3iejeiriSh
MYSQL_MAX_CONNECTIONS=1000
MYSQL_MAX_ALLOWED_PACKET=256M
MYSQL_SORT_BUFFER_SIZE=4M
MYSQL_ROOT_PASSWORD=oareaNg6Ooz4teik
MYSQL_INITDB_SKIP_TZINFO=1

REDIS_HOST=redis
REDIS_PASSWORD=ideeT2aeliesh4oo

GRAFANA_HOST=grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=shai6eeQuuQuuo0a
GF_INSTALL_PLUGINS=grafana-simple-json-datasource
GF_SERVER_ROOT_URL="%(protocol)s://%(domain)s:%(http_port)s/grafana"

OPSI_HOST=opsi
OPSI_ADMIN_PASSWORD=vhahd8usaz
OPSI_ROOT_PASSWORD=
OPSI_HOST_ROLE=configserver
OPSI_HOST_KEY=
OPSI_TFTPBOOT=false
OPSI_SERVICE_ADDRESS=

OPSICONFD_PORT=4447
OPSICONFD_PORT_UDP=69
OPSICONFD_GRAFANA_EXTERNAL_URL=/grafana
OPSICONFD_LOG_LEVEL=6
OPSICONFD_LOG_LEVEL_FILE=4
OPSICONFD_RESTORE_BACKUP_URL=
OPSICONFD_SSL_SERVER_CERT_SANS="[opsi-server]"

UV_PYTHON_PREFERENCE=only-managed
UV_PYTHON=3.14
