Source: python-opsi
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 5.0.37.1), python-central (>= 0.4.15), python-all-dev
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-opsi
Section: opsi
Architecture: all
Depends: ${python:Depends}, python-crypto, python-json, python-ldap, python-newt, python-pam, python-pyopenssl, python-support, python-mysqldb, duplicity
Suggests: slapd
Provides: ${python:Provides}
XB-Python-Version: ${python:Versions}
Description: OPSI python library
 This package contains the OPSI python library..

