Source: python-opsi
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 5.0.37.1), python-support, python-dev
XS-Python-Version: all
Standards-Version: 3.7.2

Package: python-opsi
Section: opsi
Architecture: all
Depends: python-twisted-web, python-twisted-conch, python-magic, python-crypto, python-ldap, python-simplejson, python-newt, python-pam, python-pyopenssl, python-support, python-mysqldb, python-sqlalchemy, duplicity, python-ldaptor, lshw
Description: opsi python library
 This package contains the opsi python library.

