#!/usr/bin/make -f

ifeq (,$(findstring $(shell lsb_release -cs),"lenny lucid"))
override_dh_auto_install:
	dh_auto_install
	sed -i 's#/etc/dhcp3/dhcpd.conf#/etc/dhcp/dhcpd.conf#;s#/etc/init.d/dhcp3-server#/etc/init.d/isc-dhcp-server#' debian/python-opsi/etc/opsi/backends/dhcpd.conf
endif

%:
	dh $@ --with python2
