[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: ultravnc-sequ
name: ultravnc-sequ
description: fuer product sequence test
advice: 
version: 1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.ins
uninstallScript: unsetup.ins
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: javavm-sequ
requiredStatus: installed
requirementType: before

[Changelog]
ultravnc-sequ (1.0-1) testing; urgency=low

  * Initial package

 -- r.roeder <r.roeder@uib.de>  Tue, 31 May 2016 16:57:47 +0000


